@import "fonts"
*
    box-sizing: border-box
img
    max-width: 100% 
body   
    background-image: url("../img/Blue.jpg") 
    background-size: 100%
          

.container
    max-width: 1170px
    width: 96%
    margin: auto

      
.navbar
    display: flex
    justify-content: space-between
    margin-top: 20px
    margin-bottom: 15px
    
   
    &-socials a
        text-decoration: none
        margin-left: 20px

.menu
    a 
        text-decoration: none
        color: #fff
        margin-left: 40px
        font-size: 20px
        display: inline-block
        &:after 
            content: ''
            display: block
            height: 1px
            background-color: #fff
            transition: .2s
            width: 0%
        &:hover
            &:after 
                width: 100%  
          
.main
    display: flex
    flex-wrap: wrap
.title
    margin-top: 20px
    text-align: center
    color: #fff
    font-size: 80px




            
                
                
              
            
            

     
    


    
    

  
      
        
       
  


