
*
    box-sizing: border-box

body   
    background: url('../img/Blue.jpg') 
    background-size: 100%
    font-family: 'Marcellus', sans-serif
    @media (max-width: 1248px)
        background-image: url('../img/pozadi-h-s4.jpeg')
   
img
    max-width: 100%          

.container
    max-width: 1170px
    width: 96%
    margin: auto

      
.navbar
    display: flex
    justify-content: space-between
    margin-top: 20px
    margin-bottom: 15px
    
   
    &-socials a
        text-decoration: none
        margin-left: 20px

.menu
    a 
        text-decoration: none
        color: #fff
        margin-left: 40px
        font-size: 20px
        display: inline-block        
        @media (max-width: 1120px)
            font-size: 18px
            margin-left: 20px
        @media (max-width: 910px)  
            font-size: 15px
            margin-left: 10px              
        @media (max-width: 392px)
            font-size: 13px
            margin-left: 8px
        @media (max-width: 338px)  
            font-size: 12px 
            margin-left: 5px 

        &:after 
            content: ''
            display: block
            height: 2px
            background-color: #991794
            transition: .2s
            width: 0%
        &:hover
            &:after 
                width: 100%  
          
.main
    display: flex
    flex-wrap: wrap
.title
    margin-top: 20px
    text-align: center
    color: #fff
    font-size: 80px
    @media (max-width: 1120px) 
        font-size: 50px
    @media (max-width: 910px)
        font-size: 30px            
    @media (max-width: 400px)  
        font-size: 30px  
            
.terminy    
    &-block 
        display: flex
        justify-content: space-between        
        @media (max-width: 757px)
            flex-direction: column
            text-align: center
    a

        color: #fff
        font-size: 21px        
        @media (max-width: 1120px)
            font-size: 18px 
        @media (max-width: 910px)
            font-size: 15px       
            
    span
        color:#bc2323 
        font-size: 21px 
        @media (max-width: 1120px)
            font-size: 18px  
        @media (max-width: 910px)
            font-size: 15px                      
    &__slucenja
        width: 50%        
    &-title
        color: #991794
        margin-bottom: 30px
        @media (max-width: 1120px)
            font-size: 18px 
        @media (max-width: 910px)
            font-size: 15px               
    &__uzdravovani
        width: 50%    
    &-subtitle
        color: #991794 
        margin-bottom: 30px
        @media (max-width: 1120px)
            font-size: 18px
        @media (max-width: 910px)
            font-size: 15px
.footer    
    color: #fff
    text-align: left
    font-size: 12px
    margin-top: 150px 
    @media (max-width: 910px)
        font-size: 10px  
    a
        color: #fff
        text-decoration: none
        font-size: 13px
        @media (max-width: 910px)
            font-size: 10px
       
            


   




            
                
                
              
            
            

     
    


    
    

  
      
        
       
  


