@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/pozadi.jpg");
  background-size: 100%;
  font-family: "Marcellus", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 96%;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
}
.navbar-socials a {
  text-decoration: none;
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #0a0a4a;
  margin-left: 40px;
  font-size: 20px;
  display: inline-block;
}
@media (max-width: 1000px) {
  .menu a {
    font-size: 15px;
    margin-left: 8px;
  }
}
.menu a:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #991794;
  transition: 0.2s;
  width: 0%;
}
.menu a:hover:after {
  width: 100%;
}

.rostlinna-block {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  align-items: center;
}
@media (max-width: 1000px) {
  .rostlinna-block {
    padding-top: 20px;
  }
}
@media (max-width: 530px) {
  .rostlinna-block {
    flex-direction: column;
  }
}
.rostlinna-text {
  flex-basis: 50%;
}
.rostlinna-text__title {
  font-size: 40px;
  margin-bottom: 60px;
}
@media (max-width: 1000px) {
  .rostlinna-text__title {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}
.rostlinna-text__subtitle {
  font-size: 22px;
}
@media (max-width: 1000px) {
  .rostlinna-text__subtitle {
    font-size: 16px;
    margin-bottom: -5px;
  }
}
.rostlinna-image {
  max-width: 357px;
  margin-left: 90px;
}
@media (max-width: 1000px) {
  .rostlinna-image {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    max-width: 220px;
  }
}

.zivocisna-text {
  padding-top: 50px;
}
@media (max-width: 1000px) {
  .zivocisna-text {
    padding-top: 10px;
  }
}
.zivocisna-text__title {
  font-size: 34px;
  margin-bottom: 38px;
}
@media (max-width: 1000px) {
  .zivocisna-text__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.zivocisna-text__subtitle {
  font-size: 19px;
}
@media (max-width: 1000px) {
  .zivocisna-text__subtitle {
    font-size: 16px;
    margin-bottom: -5px;
  }
}

.napojení-text {
  padding-top: 10px;
}
.napojení-text__title {
  font-size: 34px;
  margin-bottom: 38px;
}
@media (max-width: 1000px) {
  .napojení-text__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.napojení-text__subtitle {
  font-size: 19px;
}
@media (max-width: 1000px) {
  .napojení-text__subtitle {
    font-size: 16px;
  }
}

.jíst-block {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  align-items: center;
}
@media (max-width: 530px) {
  .jíst-block {
    flex-direction: column-reverse;
  }
}
.jíst-text {
  flex-basis: 50%;
}
.jíst-text__title {
  font-size: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1000px) {
  .jíst-text__title {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}
.jíst-text__subtitle {
  font-size: 22px;
}
@media (max-width: 1000px) {
  .jíst-text__subtitle {
    font-size: 16px;
    margin-bottom: -5px;
  }
}
.jíst-image {
  max-width: 391px;
  margin-left: 90px;
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .jíst-image {
    max-width: 220px;
    margin: auto;
  }
}

.příklad-text {
  padding-top: 10px;
}
.příklad-text__title {
  font-size: 34px;
  margin-bottom: 38px;
}
@media (max-width: 1000px) {
  .příklad-text__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.příklad-text__subtitle {
  font-size: 19px;
}
@media (max-width: 1000px) {
  .příklad-text__subtitle {
    font-size: 16px;
  }
}
.příklad-text__image {
  align-items: center;
  margin-top: 39px;
}
@media (max-width: 1000px) {
  .příklad-text__image {
    margin-top: 20px;
  }
}
.příklad-text__vody {
  font-size: 19px;
  margin-top: 40px;
}
@media (max-width: 1000px) {
  .příklad-text__vody {
    font-size: 16px;
    margin-top: 20px;
  }
}
.příklad-text__citit {
  font-size: 19px;
  margin-top: 50px;
}
@media (max-width: 1000px) {
  .příklad-text__citit {
    font-size: 16px;
    margin-top: 20px;
  }
}
.příklad-text__odkaz {
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .příklad-text__odkaz {
    margin-top: 10px;
  }
}
.příklad-text__odkaz a {
  text-decoration: none;
  display: grid;
  font-size: 19px;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .příklad-text__odkaz a {
    font-size: 16px;
  }
}
.příklad-text__odkaz span {
  font-size: 19px;
}
@media (max-width: 1000px) {
  .příklad-text__odkaz span {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */